body {
    background-color: #733426;
    display: flexbox;
    margin: 0;
    padding: 0;
}

#logo {
    margin-top: -3vh;
    /* width: 100%; */
}

.navbar {
    background-color: #BF7E45;
    display: flex;
    /* max-width: 100%; */
    height: 9vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}

#hamburguer {
    height: 50%;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    background-color: #EBBB92;
    align-items: center;
    height: 4vh;
    width: 40vh;
    padding: 0 10px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons a {
    padding: 5px 10px;
    text-decoration: none;
    color: inherit;
}

