{% extends 'pages/layout.html' %}

{% block body %}

<div class="container text-center">
    <h2><a href="{% url 'discounts' %}" class="text-decoration-none">Voltar</a></h2>
    <h1 class="mb-4">Editar Cupom de Desconto: {{ discount.code }}</h1>
    <div class="d-flex justify-content-center">
        <form method="post" enctype="multipart/form-data" class="w-50">
            {% csrf_token %}
            <div class="mb-3 text-start">
                <label for="id_code" class="form-label">Código do Cupom</label>
                <input type="text" name="code" id="id_code" class="form-control" value="{{ form.code.value }}">
            </div>
            <div class="mb-3 text-start">
                <label for="id_description" class="form-label">Descrição</label>
                <textarea name="description" id="id_description" class="form-control" rows="3">{{ form.description.value }}</textarea>
            </div>
            <div class="mb-3 text-start">
                <label for="id_discount_type" class="form-label">Tipo de Desconto</label>
                <select name="discount_type" id="id_discount_type" class="form-control">
                    <option value="percentage" {% if form.discount_type.value == "percentage" %}selected{% endif %}>Percentual</option>
                    <option value="fixed" {% if form.discount_type.value == "fixed" %}selected{% endif %}>Valor Fixo</option>
                </select>
            </div>
            <div class="mb-3 text-start">
                <label for="id_value" class="form-label">Valor do Desconto</label>
                <input type="number" name="value" id="id_value" class="form-control" value="{{ form.value.value }}">
            </div>
            <div class="mb-3 text-start">
                <label for="id_start_date" class="form-label">Data de Início</label>
                <input type="date" name="start_date" id="id_start_date" class="form-control" value="{{ form.start_date.value }}">
            </div>
            <div class="mb-3 text-start">
                <label for="id_end_date" class="form-label">Data de Término</label>
                <input type="date" name="end_date" id="id_end_date" class="form-control" value="{{ form.end_date.value }}">
            </div>
            <div class="mb-3 text-start form-check">
                <input type="checkbox" name="active" id="id_active" class="form-check-input" {% if form.active.value %}checked{% endif %}>
                <label for="id_active" class="form-check-label">Ativo</label>
            </div>
            <button type="submit" class="btn btn-success w-100">Atualizar Cupom</button>
        </form>
    </div>
</div>


{% endblock %}