{% extends 'pages/layout.html' %}

{% block body %}

    <h1>Carrinho de Compras</h1>
    {% if messages %}
        <ul class="messages list-unstyled d-flex flex-column align-items-center">
            {% for message in messages %}
                <li class="alert alert-{{ message.tags }} w-70 text-center rounded-pill py-2">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="cart-items">
        {% for item in cart_items %}
            <div class="product-item">
                <img class="product-image-cart" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                <div class="product-info">
                    <p class="product-name">{{ item.product.name }}</p>
                    <p class="product-price">R${{ item.product.price }}</p>
                </div>
                <div class="quantity-controls">
                    <a class="minus-btn" href="{% url 'subtract_from_cart' item.product.id %}">-</a>
                    <span class="quantity">{{ item.quantity }}</span>
                    <a class="plus-btn" href="{% url 'add_to_cart' item.product.id %}">+</a>
                    <a class="remove-btn" href="{% url 'remove_from_cart' item.id %}">Remover</a>
                </div>
            </div>
        {% empty %}
            <p>Seu carrinho está vazio</p>
        {% endfor %}
    </div>

    <p>Valor total: R${{ total_price }}</p>

    <a href="{% url 'products' %}">Continuar comprando</a>
    <a href="{% url 'finalize_cart' %}">Finalizar</a>

{% endblock %}