{% extends 'pages/layout.html' %}

{% block body %}

    <div class="order-container">
        <h1>Histórico de Pedidos</h1>
        <div class="orders">
            {% for order in orders %}
            <div class="order-card">
                <h2>Pedido #{{ order.id }}</h2>
                <p><strong>Data:</strong> {{ order.created_at|date:"d/m/Y H:i" }}</p>
                <p><strong>Valor Total:</strong> R$ {{ order.total_price|floatformat:2 }}</p>
                <a class="details-btn" href="{% url 'order' order.id %}">Mais detalhes</a>
            </div>
            {% empty %}
            <p>Você ainda não fez nenhum pedido.</p>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}