{% extends "pages/layout.html" %}

{% block body %}
<div class="product-container">
        {% for promotion in products %}
            <div class="featured-products">
                <img class="product-image" src="{{ promotion.product.image.url }}" alt="{{ promotion.product.name }}">
                <a href="{% url 'product' promotion.product.id %}"><h3>{{ promotion.product.name }}</h3></a>
                <p>⭐⭐⭐⭐⭐</p>
                <p class="product-price">
                    <span class="original-price">De: R$ {{ promotion.product.price }}</span><br>
                    <span class="discounted-price">Por: R$ {{ promotion.discounted_price }}</span>
                </p>
            </div>
        {% endfor %}
</div>
{% endblock %}