{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static '/pages/css/layout.css' %}">
    <title>Picafé</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'pages/images/LogoBranca.svg' %}" alt="Logo branca">
            </a>
        </div>
        
        <!-- Navbar -->
        <nav class="navbar">
            <div class="hamburguer">
                <img src="{% static 'pages/images/Hamb.png' %}" alt="">
            </div>

            <div class="search-bar">
                <textarea name="" id="" placeholder="Busque por produtos"></textarea>
            </div>

            <div class="nav-btns">
                <ul class="nav-links">
                    <li><a href="{% url 'view_cart' %}"><img src="{% static 'pages/images/CartIcon.png' %}" alt=""></a></li>
                    <li><a href="">Dashboard</a></li>
                    <li><a href="{% url 'products' %}">Produtos</a></li>
                    {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropbtn">{{ user.username }}</a>
                        <div class="dropdown-content">
                            <a href="{% url 'profile' %}">Meu Perfil</a>
                            <a href="{% url 'historic' %}">Meus Pedidos</a>
                            <a href="{% url 'logout' %}">Log Out</a>
                        </div>
                    </li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Entrar</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <!-- Main content  -->
    <main>
        {% block body %}
        {% endblock %}
    </main> 

    <!-- footer  -->
     <footer>
        <p>© 2024 Picafé - Todos os direitos reservados.</p>
     </footer>

    <script>
        document.querySelector('.dropbtn').addEventListener('click', function(event) {
        const dropdownContent = document.querySelector('.dropdown-content');
        dropdownContent.style.display = dropdownContent.style.display === 'block' ? 'none' : 'block';
        event.stopPropagation();
    });

    window.addEventListener('click', function() {
        const dropdownContent = document.querySelector('.dropdown-content');
        dropdownContent.style.display = 'none';
    });
    </script>

</body>
</html>