{% extends 'pages/layout.html' %}

{% block body %}

<h1>Detalhes do Pedido #{{ order.id }}</h1>
<p>Data do Pedido: {{ order.created_at }}</p>
<p>Valor Total: R$ {{ order.total_price }}</p>

<h2>Produtos</h2>
<table>
    <thead>
        <tr>
            <th>Imagem</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço Unitário</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in products %}
            <tr>
                <td><img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="100"></td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>R$ {{ item.product.price }}</td>
                <!-- <td>R$ {{ item.quantity|floatformat:2|multiply:item.product.price }}</td> -->
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}