{% extends "pages/layout.html" %} 
{% load custom_filters %}


{% block body %}

<div class="product-page">
    <div class="product-image-container">
        <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
    </div>

    <div class="product-details">
        <h1>{{ product.name }}</h1>
        <p class="product-price">R$ {{ product.price }}</p>

        {% if product.stock_quantity > 0 %}
            <div class="action-buttons">
                <a class="add-cart-product btn btn-primary" href="{% url 'add_to_cart' product.id %}">
                    Adicionar ao Carrinho
                </a>
                <a class="add-wishlist-product btn btn-outline-danger" href="{% url 'add_wishlist' product.id %}">
                    Adicionar à Wishlist
                </a>
            </div>
        {% else %}
            <p class="out-of-stock">Este produto está fora de estoque.</p>
        {% endif %}
    </div>
</div>

<p class="product-description">
    <h2><strong>Descrição</strong></h2>
    {{ product.description }}
</p>

<!-- Exibir a média de notas -->
<!-- Exibir a média de notas -->
<div class="container mt-4">
    <div class="row">
        <!-- Coluna das avaliações -->
        <div class="col-md-4">
            <h3>Avaliação</h3>
            {% if average_rating %}
                <p><strong>Média das avaliações:</strong> {{ average_rating|floatformat:1 }} de 5</p>
                <p><strong>{{ feedbacks.count }} avaliações</strong></p>
            {% else %}
                <p><strong>Este produto ainda não tem avaliações.</strong></p>
            {% endif %}
        </div>

        <!-- Coluna dos feedbacks -->
        <div class="col-md-8">
            <h3>Feedbacks dos clientes:</h3>
            {% for feedback in feedbacks %}
                <div class="feedback-item p-3 rounded mb-3">
                    <p><strong>{{ feedback.user.first_name }} {{ feedback.user.last_name }}</strong> - Nota: {{ feedback.rating }} de 5</p>
                    <p class="feedback-text">{{ feedback.feedback_text }}</p>
                    <p><small>Publicado em: {{ feedback.created_at|date:"d/m/Y" }}</small></p>
                </div>
            {% empty %}
                <p>Este produto ainda não tem feedbacks.</p>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}
