html, body {
    font-family:  sans-serif;
    background-color: #D9C7A7;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

.logo {
    background-color: #733426;
}

.logo img{
    width: 17vh;
    height: auto;
    margin-top: -3vh;
}

/* Navbar's style  */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BF7E45;
    padding: 1rem;
}

.hamburguer {
    flex: 1;
}

.search-bar {
    flex: 2;
    text-align: center;
    justify-content: center;
}

.search-bar textarea {
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding: 10px 0 0 0;
    background-color: #EBBB92;
    border-radius: 2rem;
    resize: none;
}

.nav-btns {
    flex: 0;
    display: flex;
    justify-content: flex-end;
    padding: 0 5rem 0 0;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-links > li > a {
    position: relative;
    color: black;
    text-decoration: none;
    transition: color .3s ease;
    display: inline-block;
}

.nav-links > li > a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; 
    height: 2px; 
    background-color: black;
    transition: width 0.3s ease;
}
.nav-links > li > a:hover::after {
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    border-radius: 1rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 1rem;
}

/* Conteúdo do corpo */
main {
    padding: 2rem;
    text-align: center;
}

/* Produtos da página inicial  */
.product-container {
    display: flex;               
    justify-content: space-between;  
    gap: 20px;                   
    width: 100%;
    flex-wrap: wrap;             /* Permite que os itens quebrem para a linha seguinte se necessário */
    margin-top: 20px;            
}

.featured-products {
    flex: 0 0 calc(33.333% - 20px);
    text-align: center;
    box-sizing: border-box;
}

.product-image {
    width: 100%;                
    max-width: 250px;    
    height: auto;             
    border-radius: 8px;         
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    transition: transform 0.3s ease-in-out;  /* Efeito de transição no hover */
}

.product-image:hover {
    transform: scale(1.05);     /* Efeito de zoom ao passar o mouse */
}

.add-cart {
    font-size: 1rem;
    padding: 1.2rem 2.5rem;
    border: 2px solid black;
    border-radius: 2rem;
    background-color: #BF7E45;
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
}

.add-cart:hover {
    filter: brightness(85%);
}

/* Página do produto */
.product-page {
    display: flex;
    gap: 1.2rem;
    padding: 1.2rem;
}

.product-image-container {
    flex: 1;
    text-align: center;
    padding: 0.6rem;
}

.product-details {
    flex: 1;
}

.product-details h1 {
    font-size: 2rem;
}

.product-description  {
    font-size: 1em;
    margin-bottom: 1.2rem;
}

.add-cart-product {
    display: inline-block;
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
    border: 2px solid black;
    border-radius: 2rem;
    background-color: #BF7E45;
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
}

.add-cart-product:hover {
    filter: brightness(85%);
}

/* CARRINHO DE COMPRAS  */
.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #733426;
    padding: 0.6rem 0;
}

.product-price {
    padding: 0rem 0rem 3rem 0rem;
    font-size: 1.4rem;
    font-weight: bolder;
}

.product-image-cart {
    width: 10rem;
    height: auto;
    margin-right: auto;
}

.product-info {
    flex: 1;
}

.product-name, .product-price {
    margin: 0;
} 

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.minus-btn, .plus-btn, .remove-btn {
    background: transparent;
    font-size: 1.2rem;
    padding: 0.3rem 0.6rem;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 0.3rem;
}

/* Histórico de pedidos */
.order-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.order-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.orders {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-card {
    background-color: #EBBB92;
    border: 1px solid #d3c6bb;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order-card h2 {
    margin: 0;
}

.order-card p {
    margin: 0.3rem 0;
}

.details-btn {
    display: inline-block;
    margin-top: 10px;
    padding: .6rem 1.2rem;
    background-color: #A62424;
    color: #fff;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.details-btn:hover {
    filter: brightness(80%);
}

.form-control {
    opacity: .56;
}

/* Profile options */
.profile-header {
    background-color: #EBBB92;
    border: 1px solid #fab57a;
    border-radius: 3rem;
}

.profile-icon {
    background-color: #d98668;
}

.shortcut-card {
    background-color: #EBBB92;
    border-radius: 3rem;
    border: 1px solid #fab57a;
    transition: transform 0.3s;
}

.shortcut-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background-color: #733426;
    color: black;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

